{% extends "app/base.html" %}

{% block content %}
<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h4 class="jumbotron-heading"></h4>
      <p class="lead text-muted"></p>
      <form>
        <label>魚種から探す</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="魚種[例：シーバス]">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">検索</button>
          </span>
        </div>
      </form>
      <hr>
      <form>
        <label>エリア(県名)から探す</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="エリア[例：秋田県]">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">検索</button>
          </span>
        </div>
      </form>
    </div>
  </section>

  {% include "app/post_list.html" %}

</main>
{% endblock content %}