{% extends "app/base.html" %}

{% block content %}
<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h4 class="jumbotron-heading"></h4>
      <p class="lead text-muted"></p>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">魚種から探す</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="魚種[例：ブラックバス]">
          {% comment %} <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
            else.</small> {% endcomment %}
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">エリア(県名)から探す</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="エリア[例：秋田県]">
          {% comment %} <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
            else.</small> {% endcomment %}
        </div>
      </form>
    </div>
  </section>

  {% include "app/post_list.html" %}

</main>
{% endblock content %}